<footer class="footer"> 
    <div>
    <a href="https://www.upgrad.com/contact/" class="contactStyle" target="_blank" style="text-decoration: none;" > 
        Contact Us</a>
    <p style="text-align: center; margin-top:1%">©upGrad</p>    
    <div class="iconSty">

    <a href="https://www.facebook.com" target="_blank" style="text-decoration: none; color: white;" > 
        Facebook </a>
    <a href="https://twitter.com" target="_blank" style="text-decoration: none; color: white;"> 
        Twitter </a>
    </div>

    </div>    

</footer>